In [2]:
import pandas as pd
import os
from time import time, sleep
import seaborn as sns
import matplotlib.pyplot as plt
from requests import Session, ConnectionError, Timeout, TooManyRedirects
import json

In [3]:
 #Interact with the CoinMarketCap API to retrieve latest cryptocurrency listings.

from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'15',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '65693ab1-d4e3-401b-871f-944dbdbaf52a',
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  # print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [4]:
# Set pandas option to display all columns in DataFrame outputs
pd.set_option('display.max_columns',None)

In [5]:
# Normalize JSON data into a flat DataFrame
df = pd.json_normalize(data['data'])

In [6]:
# Add a timestamp column with the current datetime
df['timestamp'] = pd.to_datetime('now')

In [7]:
# Define a function to call the CoinMarketCap API and process the data
def api_runner():
    global df 
    url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
    parameters = {
      'start':'1',
      'limit':'15',
      'convert':'USD'
    }
    headers = {
      'Accepts': 'application/json',
      'X-CMC_PRO_API_KEY': '65693ab1-d4e3-401b-871f-944dbdbaf52a',
    }
    session = Session()
    session.headers.update(headers)

    try:
      response = session.get(url, params=parameters)
      data = json.loads(response.text)
      #print(data)
    except (ConnectionError, Timeout, TooManyRedirects) as e:
      print(e)
    df = pd.json_normalize(data['data'])
    df['timestamp'] = pd.to_datetime('now')
    df
 # Check if the CSV file exists; if not, create it with column names
    if not os.path.isfile(r'C:\Users\beaka\OneDrive\Desktop\pandas\API.csv'):
        df.to_csv(r'C:\Users\beaka\OneDrive\Desktop\pandas\API.csv',header='column_names')
    else:
        df.to_csv(r'C:\Users\beaka\OneDrive\Desktop\pandas\API.csv',mode='a',header=False)

In [ ]:
# Run the API runner function every 12 hours (43200 seconds)  333 times maximum which is the limit 
for i in range(333):
    api_runner()
    print('API Runner completed')
    sleep(43200)

In [8]:
# Read the accumulated data from the CSV file
df1 = pd.read_csv('API.csv')
# Remove the unnamed column created during the CSV saving process
df1.drop(columns='Unnamed: 0', inplace=True)
df1

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,infinite_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,last_updated,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.percent_change_30d,quote.USD.percent_change_60d,quote.USD.percent_change_90d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,timestamp
0,1,Bitcoin,BTC,bitcoin,11630,2010-07-13T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'store-of-value...",21000000.0,1.973736e+07,1.973736e+07,False,NaN,1,NaN,NaN,NaN,2024-08-09T00:03:00.000Z,61693.408114,4.526860e+10,8.9141,-1.163949,11.653642,-5.620468,6.351191,-11.396153,1.452852,1.217665e+12,56.4053,1.295562e+12,NaN,2024-08-09T00:03:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-08 20:04:51.725980
1,1027,Ethereum,ETH,ethereum,9201,2015-08-07T00:00:00.000Z,"['pos', 'smart-contracts', 'ethereum-ecosystem...",NaN,1.202612e+08,1.202612e+08,True,NaN,2,NaN,NaN,NaN,2024-08-09T00:02:00.000Z,2678.364016,2.342433e+10,-3.2486,-1.450431,14.195041,-16.344437,-12.651698,-27.710115,-7.930562,3.221034e+11,14.9206,3.221034e+11,NaN,2024-08-09T00:02:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-08 20:04:51.725980
2,825,Tether USDt,USDT,tether,93816,2015-02-25T00:00:00.000Z,"['stablecoin', 'asset-backed-stablecoin', 'ava...",NaN,1.150179e+11,1.170681e+11,True,NaN,3,NaN,NaN,NaN,2024-08-09T00:02:00.000Z,1.000295,7.329838e+10,1.5113,0.011064,0.018014,0.113917,0.018245,0.044521,0.039852,1.150518e+11,5.3287,1.171026e+11,NaN,2024-08-09T00:02:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2024-08-08 20:04:51.725980
3,5426,Solana,SOL,solana,714,2020-04-10T00:00:00.000Z,"['pos', 'platform', 'solana-ecosystem', 'cms-h...",NaN,4.663404e+08,5.817975e+08,True,NaN,4,NaN,NaN,NaN,2024-08-09T00:02:00.000Z,162.752819,5.369874e+09,-2.5687,0.392386,12.366506,-2.789873,15.108547,0.408236,11.387721,7.589821e+10,3.5128,9.468919e+10,NaN,2024-08-09T00:02:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-08 20:04:51.725980
4,1839,BNB,BNB,bnb,2206,2017-07-25T00:00:00.000Z,"['marketplace', 'centralized-exchange', 'payme...",NaN,1.459367e+08,1.459367e+08,False,NaN,5,NaN,NaN,NaN,2024-08-09T00:02:00.000Z,516.927667,1.788405e+09,-4.8242,-0.532584,8.896004,-10.119571,0.008667,-23.182137,-11.723574,7.543873e+10,3.4945,7.543873e+10,NaN,2024-08-09T00:02:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-08 20:04:51.725980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,1958,TRON,TRX,tron,1006,2017-09-13T00:00:00.000Z,"['media', 'payments', 'tron-ecosystem', 'layer...",NaN,8.697580e+10,8.697580e+10,True,NaN,11,7.165966e+10,9.228862e+09,NaN,2024-08-13T23:47:00.000Z,0.128787,2.587613e+08,-5.4943,-0.052137,1.555541,4.288079,-6.544413,10.613010,1.897941,1.120139e+10,0.5270,1.120139e+10,NaN,2024-08-13T23:47:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-13 19:49:16.260758
131,5805,Avalanche,AVAX,avalanche,761,2020-07-13T00:00:00.000Z,"['defi', 'smart-contracts', 'three-arrows-capi...",715748719.0,3.953354e+08,4.446818e+08,False,NaN,12,NaN,NaN,NaN,2024-08-13T23:47:00.000Z,21.366218,1.903057e+08,-21.0616,-0.497870,0.206182,2.435767,-19.572624,-29.527972,-38.503295,8.446822e+09,0.3974,1.529284e+10,NaN,2024-08-13T23:47:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-13 19:49:16.260758
132,5994,Shiba Inu,SHIB,shiba-inu,854,2020-08-01T00:00:00.000Z,"['memes', 'ethereum-ecosystem', 'doggone-dogge...",NaN,5.892704e+14,5.895191e+14,False,NaN,13,NaN,NaN,NaN,2024-08-13T23:47:00.000Z,0.000014,1.738722e+08,-27.7891,-0.514287,-0.629515,3.011823,-21.723349,-31.673029,-45.209359,8.159188e+09,0.3837,8.162632e+09,NaN,2024-08-13T23:47:00.000Z,1027.0,Ethereum,ETH,ethereum,0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce,2024-08-13 19:49:16.260758
133,1831,Bitcoin Cash,BCH,bitcoin-cash,909,2017-07-23T00:00:00.000Z,"['mineable', 'pow', 'sha-256', 'marketplace', ...",21000000.0,1.974658e+07,1.974658e+07,False,NaN,14,NaN,NaN,NaN,2024-08-13T23:47:00.000Z,351.081867,2.643722e+08,-7.8593,-0.237677,-1.927247,11.457883,-7.253340,-16.730850,-24.599773,6.932668e+09,0.3261,7.372719e+09,NaN,2024-08-13T23:47:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-13 19:49:16.260758
134,6636,Polkadot,DOT,polkadot-new,798,2020-08-19T00:00:00.000Z,"['substrate', 'polkadot', 'binance-chain', 'po...",NaN,1.480799e+09,1.480799e+09,True,NaN,15,1.480797e+09,6.722804e+09,NaN,2024-08-13T23:48:00.000Z,4.539989,1.069313e+08,-9.1023,-0.413051,-1.152430,1.026621,-28.447072,-26.255953,-34.899159,6.722810e+09,0.3163,6.722810e+09,NaN,2024-08-13T23:48:00.000Z,NaN,NaN,NaN,NaN,NaN,2024-08-13 19:49:16.260758

In [9]:
# Display settings for floating-point numbers
pd.set_option('display.float_format',lambda x: '%.5f' % x)
#perform summary stats for numerical columns
df1.describe()

,id,num_market_pairs,max_supply,circulating_supply,total_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,quote.USD.price,quote.USD.volume_24h,quote.USD.volume_change_24h,quote.USD.percent_change_1h,quote.USD.percent_change_24h,quote.USD.percent_change_7d,quote.USD.percent_change_30d,quote.USD.percent_change_60d,quote.USD.percent_change_90d,quote.USD.market_cap,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,platform.id
count,135.00000,135.00000,45.00000,135.00000,135.00000,0.00000,135.00000,27.00000,27.00000,0.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,135.00000,0.00000,27.00000
mean,3220.33333,9840.11111,29151549743.80000,39316669352930.92188,39336542504898.51562,NaN,8.00000,25517852997.70349,12649825430.17074,NaN,4248.24844,8556746490.71902,9.74668,0.17094,0.96511,2.02452,-6.02638,-14.10309,-12.59541,127734355352.82716,6.05927,137546840153.10126,NaN,1027.00000
std,3130.43752,23275.51887,39882794263.35106,147528737883116.84375,147590121333297.31250,NaN,4.33659,33258448323.52346,6749284329.66400,NaN,14980.09646,16534047702.25588,39.97866,0.85947,4.44895,10.32502,12.24603,16.07574,15.81623,294116028330.46667,13.95077,311062610921.19720,NaN,0.00000
min,1.00000,498.00000,21000000.00000,19737365.00000,19737365.00000,NaN,1.00000,1478789514.55416,6584235656.80193,NaN,0.00001,89168570.45576,-57.36350,-3.88790,-8.10366,-16.40076,-29.01937,-40.17396,-45.20936,6529588092.60822,0.31630,6584235652.32000,NaN,1027.00000
25%,825.00000,798.00000,21000000.00000,145936675.06188,145936675.06188,NaN,4.00000,1480420783.76394,7102915961.91608,NaN,0.34580,263307657.22937,-15.10185,-0.28684,-1.50574,-5.34412,-15.50989,-26.68098,-26.29548,8546417139.99440,0.40440,11159091125.35000,NaN,1027.00000
50%,1958.00000,1034.00000,715748719.00000,2518473831.89636,5110351770.77460,NaN,8.00000,3414166606.00000,9131947261.28580,NaN,4.63751,792564353.80268,-1.46550,0.00807,0.00952,0.32606,-5.31622,-17.98965,-8.82789,16116394866.13293,0.76100,32703312728.47000,NaN,1027.00000
75%,5805.00000,9202.00000,45000000000.00000,86980153348.08856,99987342059.00000,NaN,12.00000,71659659264.00000,21331970017.06155,NaN,345.51304,5796183022.67208,34.20690,0.38635,2.85779,7.91407,0.00989,0.00499,0.03695,74108271795.51505,3.50990,84880640105.38000,NaN,1027.00000
max,11419.00000,94063.00000,100000000000.00000,589270406494933.50000,589519077523462.00000,NaN,15.00000,71659659264.00000,22867710403.69109,NaN,61693.40811,73298384933.63586,248.93790,3.46736,14.42801,33.15834,41.74661,23.90336,22.98940,1217665314042.37939,56.56620,1295561570396.55005,NaN,1027.00000

In [ ]:
df2 = df1.groupby('name',sort=False)[['quote.USD.percent_change_1h','quote.USD.percent_change_24h','quote.USD.percent_change_7d','quote.USD.percent_change_30d',
'quote.USD.percent_change_60d','quote.USD.percent_change_90d']].mean()
df2

In [ ]:
# Convert the grouped DataFrame into a stacked format
df3 = df2.stack()
type(df3)
df3

In [ ]:
# Convert the stacked Series into a DataFrame
df4 = df3.to_frame()
df4 = df3.reset_index()
# Rename columns for clarity
df4.columns = ['Name','Percent Change Interval','Values']
df4

In [ ]:
# Replace long interval names with shorter ones
df4['Percent Change Interval']=df4['Percent Change Interval'].replace(['quote.USD.percent_change_1h','quote.USD.percent_change_24h','quote.USD.percent_change_7d','quote.USD.percent_change_30d','quote.USD.percent_change_60d','quote.USD.percent_change_90d']
                                                                      ,['1h','24h','7d','30d','60d','90d'])
df4

In [ ]:
# Visualize percent change data using a point plot
sns.catplot(data=df4 , x='Percent Change Interval',y='Values',hue='Name',kind='point')

In [ ]:
# Kernel Density Estimation plot to visualize distribution of values by name
sns.kdeplot(data=df4, x="Values", hue="Name", multiple="stack")

In [ ]:
# Select specific columns related to price and timestamp
df5 = df1[['name','quote.USD.price','timestamp']]
# Convert 'timestamp' column to only include the date part (remove time component)
df5['timestamp']= df5['timestamp'].str.split().str[0]
# Extract the day from the 'timestamp' column
df5['day'] = df5['timestamp'].str.split('-').str[2]
df5

In [ ]:
# Create a FacetGrid to plot separate line plots for each cryptocurrency
g = sns.FacetGrid(df5, col='name', col_wrap=4, sharex=True, sharey=False)
g.map(sns.lineplot, 'day', 'quote.USD.price')
g.set_titles(col_template="{col_name}")
g.add_legend()
plt.show()

In [ ]:
# Select columns related to circulating supply
c_supply = df1[['name','circulating_supply','timestamp']]
# Convert 'timestamp' column to only include the date part (remove time component)
c_supply['timestamp']= c_supply['timestamp'].str.split().str[0]
# Extract the day from the 'timestamp' column
c_supply['day'] = c_supply['timestamp'].str.split('-').str[2]
c_supply

In [ ]:
# Create a FacetGrid to plot separate line plots for each cryptocurrency
g = sns.FacetGrid(c_supply, col='name', col_wrap=4, sharex=True, sharey=False)
g.map(sns.lineplot, 'day', 'circulating_supply')
g.set_titles(col_template="{col_name}")
g.add_legend()
plt.show()

In [ ]:
# Group by cryptocurrency name and calculate the mean circulating supply
c_supply_plot = c_supply.groupby(['name'],sort=False)['circulating_supply'].mean()
c_supply_plot=c_supply_plot.to_frame()
# Sort the cryptocurrencies by their mean circulating supply and select the top 5
sorted = c_supply_plot.sort_values(by='circulating_supply')
sorted_values = sorted.head(5)

In [ ]:
# Bar plot of the top 5 cryptocurrencies by circulating supply
plt.figure(figsize=(10,6))
sns.barplot(data=sorted_values,x='name',y='circulating_supply',hue='name')

In [ ]:
# Check for missing values in the DataFrame
df1.isna().sum()

In [ ]:
# Fill missing values in the max_supply column with 0
df1['max_supply'] = df1['max_supply'].fillna(0)
df1 = df1.drop('platform', axis = 1)

In [ ]:
# Drop the 'platform' and 'tvl_ratio' columns as they are not needed
df1 = df1.drop('tvl_ratio', axis = 1)

In [ ]:
# Group by cryptocurrency name and calculate the mean of self-reported circulating supply
self_reported = df1.groupby('name')['self_reported_circulating_supply'].mean()
self_reported = self_reported.to_frame()
# Filter out rows where self-reported supply is missing
plot3 = self_reported[self_reported['self_reported_circulating_supply'].notna()]
# Bar plot of self-reported circulating supply for each cryptocurrency
sns.barplot(data=plot3, x ='name' , y = 'self_reported_circulating_supply',hue='name')
plt.title('Self reported Supply')